<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cancel</button>
</mat-dialog-actions>
<h1>Add User</h1>
<form [formGroup]="addUserForm" (ngSubmit)="addUser()">
  <app-input
    label="First Name"
    type="text"
    placeholder="First Name"
    [control]="first_name"
  ></app-input>
  <app-input
    label="Last Name"
    type="text"
    placeholder="Last Name"
    [control]="last_name"
  ></app-input>
  <app-input
    label="Email"
    type="email"
    placeholder="Email"
    [control]="email"
  ></app-input>
  <app-input
    label="Avatar"
    type="text"
    placeholder="User Avatar"
    [control]="avatar"
  ></app-input>

  <button mat-raised-button type="submit" color="primary">
    {{ data ? "Edit User" : "Add New User" }}  
  </button>
</form>
